
/* Стиль для Index и Portfolio */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #FFFFFF;
}

:root {
    --main-text-font: 'Roboto', sans-serif;
}
:root {
    --seondary-text-font: 'Raleway', sans-serif;
}

:root {
    --main-text-color: #212121;
}
:root {
    --second-text-color: #2196F3;
}
:root {
    --third-text-color: #757575;
}

:root {
    --fourth-text-color: #FFFFFF;
}

:root {
    --background-color: #2F303A;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    color: var(--main-text-color);
}  

button:hover {
    color: var(--second-text-color);
}

button:focus {
    color: var(--second-text-color);
}

button {
cursor: pointer;
}

.email-link {
font-family: var(--main-text-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: var(--third-text-color);
}

.phone-link {
font-family: var(--main-text-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: var(--third-text-color);
}


.page-studio {
font-family: var(--main-text-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text-color);
} 

.page-portfolio {
font-family: var(--main-text-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text-color);
}

.page-contacts {
font-family: var(--main-text-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text-color);
}

 
.page-portfolio:hover,
.page-portfolio:focus {
    color: var(--second-text-color);
}

.page-studio:hover,
.page-studio:focus {
    color: var(--second-text-color);
}

.page-contacts:hover,
.page-contacts:focus {
    color: var(--second-text-color);
}

.email-link:hover,
.email-link:focus {
    color: var(--second-text-color);
}

.phone-link:hover,
.phone-link:focus {
    color: var(--second-text-color);
}

/* Стиль для Index */

.container {
    width: 1170px; 
    margin-top: 0; 
    margin-bottom: 0; 
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
display: flex;
justify-content: center;
align-items: center;
}

.section-header {
    border-bottom: 1px solid rgba(236, 236, 236, 1); 
}

.links-to-pages {
display: flex;
}

.links-to-pages .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.links-to-pages .item:not(:last-child) {
    margin-right: 50px;
}

.header-right {
    margin-left: auto;
    display: flex;
}

.header-right .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-right .link + .link {
    margin-left: 50px;
}

.logo-webstudio {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.index-first-section {
    background-image: url(../images/homepeople.jpg);
    background-color: rgba(47, 48, 58, 0.4);
}

.header-first-section {
font-family: var(--main-text-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--fourth-text-color);
margin-bottom: 30px;
}

.index-first-section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.first-section-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-order-service {
width: 200px;
height: 50px;
font-family: var(--main-text-font);
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: var(--fourth-text-color);
text-align: center;
}

.logo-webstudio {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.index-second-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.icon-mob {
    width: 10px;
    height: 16px;

}

.div-mob {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
} 

.icons-block {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}

.icon-antenna-features {
    width: 66px;
    height: 70px;
}

.advantages-second-section {
    display: flex;
}

.advantages-second-section .item {
    width: 270px;
}
.advantages-second-section .item:not(:last-child) {
    margin-right: 30px;
}

.header-second-section-blocks {
font-family: var(--main-text-font);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);
margin-bottom: 10px;
}
.text-second-section-blocks {
font-family: var(--main-text-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--third-text-color);
}

.index-third-section {
    padding-bottom: 94px; 
}

.what-we-do-third-section {
    display: flex;
}

.what-we-do-third-section .item:not(:last-child) {
    margin-right: 30px;
}

.header-third-section {
font-family: var(--main-text-font);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);

margin-bottom: 50px;
}

.index-fourth-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
 
.our-team-fourth-section {
    display: flex;
}

.our-team-fourth-section .item:not(:last-child) {
    margin-right: 30px;
}

.header-fourth-section {
font-family: var(--main-text-font);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center; 
letter-spacing: 0.03em;
color: var(--main-text-color);

margin-bottom: 50px;
}

.fourth-section-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-fourth-section-blocks {
font-family: var(--main-text-font);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);
margin-bottom: 10px;
}

.text-fourth-section-blocks {
font-family: var(--main-text-font);
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--third-text-color);
} 

.section-footer {
    background-color: var(--background-color);
}

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
} 

.address-style {
    font-style: normal;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-address {
    margin-bottom: 9px;
}

.footer-email {
    margin-bottom: 9px;
}

/* Стиль для Portfolio */

.container-portfolio {
    width: 1170px; 
    margin-top: 0; 
    margin-bottom: 0; 
    margin-right: auto;
    margin-left: auto;
}
 

.buttons-for-samples {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.buttons-for-samples .item:not(:last-child) {
    margin-right: 8px;
}

.buttons-list-portfolio {
    font-family: var(--main-text-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    list-style: none;
    color: var(--main-text-color);
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
} 

.section-samples {
    padding-top: 94px;
    padding-bottom: 94px;
}

.samples-list {
    display: flex;
    flex-wrap: wrap;
}

.item-samples {
    margin-right: 30px;
    margin-bottom: 30px;
}

.item-samples:nth-child(3n) {
    margin-right: 0;
}

.item-samples:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-second-section-description {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px; 
    padding-left: 24px;
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
}

.header-second-section-portfolio-blocks {
font-family: var(--main-text-font);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-text-color);
margin-bottom: 4px;
}

.text-second-section-portfolio-blocks {
font-family: var(--main-text-font);
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--third-text-color);
}

